{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Billit.API"
  },
  "host": "api.billit.be",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/account/accountInformation": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get account information about the current user",
        "operationId": "Account_GetAccountInformation",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Account information of the current user",
            "schema": {
              "$ref": "#/definitions/AccountInformation"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/account/ssoToken": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get an SSO token of the current user",
        "operationId": "Account_GetSSOToken",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "object with SSO token",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/account/sequences": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Update the sequence of a specific type",
        "operationId": "Account_PostSequences",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SequenceRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SequenceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sequence updated",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/account/registercompany": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Registers a Company in the Billit-ecosphere",
        "operationId": "Account_RegisterCompany",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "RegisterAccountRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterAccountRequestModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "New company registered",
            "schema": {
              "$ref": "#/definitions/RegisterAccountResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/account/license": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Update the license",
        "operationId": "Account_UpdateLicense",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "UpdateLicenseModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateLicenseRequestModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company license updated",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/account/license/addons": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Add new License Billable",
        "operationId": "Account_AddLicenseBillable",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "licenseBillableModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddNewLicenseBillableModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "New license billable added",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/accountant/feeds": {
      "get": {
        "tags": [
          "Accountant"
        ],
        "summary": "Get a list of all feeds to download",
        "operationId": "Accountant_GetFeeds",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "A list of all feeds to download.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Feed"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Accountant"
        ],
        "summary": "Register a new feed. All newly exported orders or documents will be available in this new feed.",
        "operationId": "Accountant_PostFeeds",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "feed",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Feed"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Feed has been registered"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/accountant/feeds/{feedName}": {
      "get": {
        "tags": [
          "Accountant"
        ],
        "summary": "Get A list of all feeds to download. Only query this once per minute",
        "operationId": "Accountant_GetIndex",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "feedName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of all files to download.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FeedItem"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      },
      "delete": {
        "tags": [
          "Accountant"
        ],
        "summary": "Delete the feed",
        "operationId": "Accountant_DeleteFeeds",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "feedName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Feed has been deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/accountant/feeds/{feedName}/{feedItemID}/confirm": {
      "post": {
        "tags": [
          "Accountant"
        ],
        "summary": "Confirm each succesfully downloaded feed item to remove it from the feedlist",
        "operationId": "Accountant_PostConfirm",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "feedName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "feedItemID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "ConfirmRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfirmRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Download confirmed"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/accountant/feeds/{feedName}/{feedItemID}": {
      "get": {
        "tags": [
          "Accountant"
        ],
        "summary": "download a coda file from the feed",
        "operationId": "Accountant_GetFile",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "feedItemID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "feedName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "File downloaded",
            "schema": {
              "$ref": "#/definitions/FileDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/Cashbook/Initialize": {
      "post": {
        "tags": [
          "Cashbook"
        ],
        "summary": "Initialize the cash book for first use",
        "operationId": "Cashbook_InitializeCashbook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cashbookInitialization",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CashbookInitialization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cash book was initialized",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/Cashbook/Close": {
      "post": {
        "tags": [
          "Cashbook"
        ],
        "summary": "Permanently close the cash book",
        "operationId": "Cashbook_CloseCashbook",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Active cash book was closed"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/Cashbook": {
      "get": {
        "tags": [
          "Cashbook"
        ],
        "summary": "Get the current active cash book",
        "operationId": "Cashbook_GetCashbook",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Information about the current active cash book",
            "schema": {
              "$ref": "#/definitions/CashbookModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/Cashbook/Entries": {
      "get": {
        "tags": [
          "Cashbook"
        ],
        "summary": "Get an overview of all the entries in the current active cash book",
        "operationId": "Cashbook_GetCashbookEntries",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fullTextSearch",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of all the entries in the cash book",
            "schema": {
              "$ref": "#/definitions/PageResult_CashbookEntry"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/Cashbook/History": {
      "get": {
        "tags": [
          "Cashbook"
        ],
        "summary": "Get an overview of all the closed cash books",
        "operationId": "Cashbook_GetCashbooks",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "A list of all the closed cash books",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CashbookModel"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/Cashbook/{cashbookID}/History": {
      "get": {
        "tags": [
          "Cashbook"
        ],
        "summary": "Get an overview of all the entries in a closed cash book",
        "operationId": "Cashbook_GetCashbookHistory",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cashbookID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fullTextSearch",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of all the entries in a closed cash book",
            "schema": {
              "$ref": "#/definitions/PageResult_CashbookEntry"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/Cashbook/AddEntry": {
      "post": {
        "tags": [
          "Cashbook"
        ],
        "summary": "Add an entry to the current active cash book",
        "operationId": "Cashbook_PostCashbookEntry",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cashbookInputEntry",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CashbookEntry"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entry has been added to the current active cash book",
            "schema": {
              "$ref": "#/definitions/CashbookEntry"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/DailyReceiptBooks/commands/CreateEntryInOpenExistingOrNew": {
      "post": {
        "tags": [
          "DailyReceipt"
        ],
        "summary": "Add a new daily receipt to a new or open daily receipt book",
        "operationId": "DailyReceipt_PostDailyReceiptBookEntry",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "DailyReceiptEntry",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DailyReceiptBookEntryModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Daily receipt entry was created",
            "schema": {
              "$ref": "#/definitions/PostDailyReceiptBookEntryResponseModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/DailyReceiptBooks/DailyReceiptEntry/{DailyReceiptEntryID}": {
      "get": {
        "tags": [
          "DailyReceipt"
        ],
        "summary": "Get a daily receipt entry",
        "operationId": "DailyReceipt_GetDailyReceiptEntry",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "DailyReceiptEntryID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Detail of a daily receipt entry",
            "schema": {
              "$ref": "#/definitions/GetDailyReceiptEntryResponseModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/DailyReceiptBooks/{DailyReceiptBookID}": {
      "get": {
        "tags": [
          "DailyReceipt"
        ],
        "summary": "Get a daily receipt book with details",
        "operationId": "DailyReceipt_GetDailyReceiptBooks",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "DailyReceiptBookID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Detail of a daily receipt book",
            "schema": {
              "$ref": "#/definitions/DailyReceiptBookModelResponseModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/DailyReceiptBooks": {
      "get": {
        "tags": [
          "DailyReceipt"
        ],
        "summary": "Get a daily receipt book list",
        "operationId": "DailyReceipt_GetDailyReceiptBooks",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "A list of daily receipt books",
            "schema": {
              "$ref": "#/definitions/DailyReceiptBookModelResponseModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/documents": {
      "get": {
        "tags": [
          "Document"
        ],
        "summary": "Get a list of documents",
        "operationId": "Document_GetDocuments",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fullTextSearch",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of documents",
            "schema": {
              "$ref": "#/definitions/PageResult_DocumentAPIView"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Document"
        ],
        "summary": "Save a document",
        "operationId": "Document_PostDocument",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Document",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Document"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document was saved",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        }
      }
    },
    "/v1/documents/{documentID}": {
      "get": {
        "tags": [
          "Document"
        ],
        "summary": "Get a document specified by the documentID",
        "operationId": "Document_GetDocument",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "documentID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "A document",
            "schema": {
              "$ref": "#/definitions/DocumentAPIView"
            }
          }
        }
      }
    },
    "/v1/einvoices/registrations": {
      "get": {
        "tags": [
          "Einvoice"
        ],
        "summary": "Retrieve all E-invoice registrations",
        "operationId": "Einvoice_GetRegistrations",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "A list of E-invoice registrations",
            "schema": {
              "$ref": "#/definitions/GetEinvoiceAccountsReponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "Einvoice"
        ],
        "summary": "Create an E-invoice registration for a new entity",
        "operationId": "Einvoice_PostRegistration",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "registrationRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EinvoiceRegistrationPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "E-invoice registration was created",
            "schema": {
              "$ref": "#/definitions/AccountRegistrationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/einvoices/registrations/{registrationID}": {
      "get": {
        "tags": [
          "Einvoice"
        ],
        "summary": "Retrieve an E-invoice registration",
        "operationId": "Einvoice_GetRegistration",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "An E-invoice registration",
            "schema": {
              "$ref": "#/definitions/GetEinvoiceAccountsReponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "Einvoice"
        ],
        "summary": "Delete a registration",
        "operationId": "Einvoice_DeleteRegistration",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Registration was deleted",
            "schema": {
              "type": "boolean"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "patch": {
        "tags": [
          "Einvoice"
        ],
        "summary": "Update an E-invoice registration",
        "operationId": "Einvoice_PatchEntity",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "einvoiceRegistrationPatch",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Properties were updated",
            "schema": {
              "type": "boolean"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/einvoices/registrations/{registrationID}/integrations": {
      "post": {
        "tags": [
          "Einvoice"
        ],
        "summary": "Activate a new integration",
        "operationId": "Einvoice_PostRegistrationIntegration",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "post",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IntegrationPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Integration was activated",
            "schema": {
              "$ref": "#/definitions/EinvoiceIntegration"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/einvoices/registrations/{registrationID}/integrations/{integrationID}": {
      "delete": {
        "tags": [
          "Einvoice"
        ],
        "summary": "Deactivate an integration",
        "operationId": "Einvoice_DeleteRegistrationIntegration",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "integrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Integration was deactivated",
            "schema": {
              "type": "boolean"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/einvoices/registrations/{registrationID}/commands/send": {
      "post": {
        "tags": [
          "Einvoice"
        ],
        "summary": "Create and send an E-document",
        "operationId": "Einvoice_PostSend",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sendRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAndSendEDocumentPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "E-document was created and sent",
            "schema": {
              "$ref": "#/definitions/CreateAndSendEdocumentResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/einvoices/registrations/{registrationID}/orders": {
      "get": {
        "tags": [
          "Einvoice"
        ],
        "summary": "Get a list of orders",
        "operationId": "Einvoice_GetOrders",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fullTextSearch",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of orders",
            "schema": {
              "$ref": "#/definitions/PageResult_Order"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/einvoices/registrations/{registrationID}/files/{fileID}": {
      "get": {
        "tags": [
          "Einvoice"
        ],
        "summary": "Get a file specified by the fileID",
        "operationId": "Einvoice_GetFile",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fileID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "A file",
            "schema": {
              "$ref": "#/definitions/File"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/einvoices/registrations/{registrationID}/orders/{orderID}": {
      "get": {
        "tags": [
          "Einvoice"
        ],
        "summary": "Get an order specified by the orderID",
        "operationId": "Einvoice_GetOrder",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "An order",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "patch": {
        "tags": [
          "Einvoice"
        ],
        "summary": "Patch an E-document",
        "operationId": "Einvoice_PatchOrder",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "delta",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Properties were updated"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/einvoices/registrations/{registrationID}/webhooks": {
      "get": {
        "tags": [
          "Einvoice"
        ],
        "summary": "Get all webhooks",
        "operationId": "Einvoice_GetWebhooks",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of webhooks",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Webhook"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      },
      "post": {
        "tags": [
          "Einvoice"
        ],
        "summary": "Create a webhook",
        "operationId": "Einvoice_PostWebhook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "webhook",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Webhook"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook was created",
            "schema": {
              "$ref": "#/definitions/Webhook"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/einvoices/registrations/{registrationID}/webhooks/{webhookID}": {
      "delete": {
        "tags": [
          "Einvoice"
        ],
        "summary": "Delete a webhook",
        "operationId": "Einvoice_DeleteWebhooks",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "webhookID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook was deleted",
            "schema": {
              "type": "boolean"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/einvoices/registrations/{registrationID}/webhooks/refresh/{webhookID}": {
      "post": {
        "tags": [
          "Einvoice"
        ],
        "summary": "Refresh an webhook secret",
        "operationId": "Einvoice_RefreshWebhookSecret",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "webhookID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Refreshed webhook secret",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/einvoices/registrations/{registrationID}/identification": {
      "post": {
        "tags": [
          "Einvoice"
        ],
        "summary": "Initiate a KYC procedure",
        "operationId": "Einvoice_PostKYCInitiation",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "registrationID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "post",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KYCInitiationPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "KYC procedure was initiated",
            "schema": {
              "$ref": "#/definitions/KYCInitiationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/files/{fileID}": {
      "get": {
        "tags": [
          "File"
        ],
        "summary": "Get a file specified by the fileID",
        "operationId": "File_GetOrders",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fileID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "A file",
            "schema": {
              "$ref": "#/definitions/File"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/financialTransactions/importFile": {
      "post": {
        "tags": [
          "FinancialTransaction"
        ],
        "summary": "Upload a coda file and import the transactions",
        "operationId": "FinancialTransaction_PostImportFile",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "importFile",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/File"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coda file uploaded"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/financialTransactions/commands/import": {
      "post": {
        "tags": [
          "FinancialTransaction"
        ],
        "summary": "Create transactions using a list",
        "operationId": "FinancialTransaction_PostImport",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "transactions",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Transaction"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions were created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/financialTransactions": {
      "get": {
        "tags": [
          "FinancialTransaction"
        ],
        "operationId": "FinancialTransaction_GetBankTransactions",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fullTextSearch",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/glaccounts": {
      "post": {
        "tags": [
          "GLAccount"
        ],
        "summary": "Create a general ledger account",
        "operationId": "GLAccount_PostGLAccount",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GLAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "General ledger account was created",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/glaccounts/commands/import": {
      "post": {
        "tags": [
          "GLAccount"
        ],
        "summary": "Create multiple general ledger accounts using a list",
        "operationId": "GLAccount_PostGLAccountBulk",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accounts",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GLAccount"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "General ledger accounts were created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/journals/commands/import": {
      "post": {
        "tags": [
          "Journal"
        ],
        "summary": "Import a list of journals",
        "operationId": "Journal_PostGLAccount",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "journals",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Journal"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of journals was imported"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/misc/companysearch/{Keywords}": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Search for parties/companies based on a keyword",
        "operationId": "Misc_GetCompanySearch",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Keywords",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Search result based on a keyword",
            "schema": {
              "$ref": "#/definitions/CompanySearchResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/misc/typecodes/{TypeCodeType}": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Get all translations of a specified TypeCode",
        "operationId": "Misc_GetTypeCodes",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "TypeCodeType",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of translations of a specified TypeCode",
            "schema": {
              "$ref": "#/definitions/TypeCodeResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/misc/typecodes/{TypeCodeType}/{key}/{language}": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Get a translations of a key of a typecode, optionally in a specified language",
        "operationId": "Misc_GetTranslation",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "TypeCodeType",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A translation of a key of a typecode",
            "schema": {
              "$ref": "#/definitions/TypeCodeResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/OAuth2/token": {
      "post": {
        "tags": [
          "OAuth2"
        ],
        "operationId": "OAuth2_PostToken",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "OAuthAccessTokenRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OAuthAccessTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/OAuth2/revoke": {
      "post": {
        "tags": [
          "OAuth2"
        ],
        "operationId": "OAuth2_PostTokenRevoke",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/orders": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Get a list of invoices/credit notes/order/...",
        "operationId": "Order_GetOrders",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fullTextSearch",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of invoices/creditnotes/offers/...",
            "schema": {
              "$ref": "#/definitions/PageResult_Order"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      },
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Create a new order or update an existing one",
        "operationId": "Order_PostOrders",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Order"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order was created/updated",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/orders/{orderID}/bookingEntries": {
      "put": {
        "tags": [
          "Order"
        ],
        "summary": "Add a booking lines collection",
        "operationId": "Order_PutOrderBookings",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orderID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "bookingEntries",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BookingEntry"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Booking lines added successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/orders/{orderID}": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Get a specific order",
        "operationId": "Order_GetOrder",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orderID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "documentType",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An order based on the orderID",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "Order"
        ],
        "summary": "Delete a specific order",
        "operationId": "Order_DeleteOrder",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orderID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Order was deleted",
            "schema": {
              "type": "boolean"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "patch": {
        "tags": [
          "Order"
        ],
        "summary": "Patch an order",
        "operationId": "Order_PatchOrders",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orderID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "delta",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Properties were updated"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/orders/{orderID}/payments": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Add a partial or full payment to an order",
        "operationId": "Order_PostOrderPayment",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orderID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostPaymentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment was added to the order"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/orders/commands/send": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Send a list of orders via a specified channel",
        "operationId": "Order_PostSend",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sendRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All orders have been sent"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/orders/commands/eSign/{orderID}": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "E-Sign an order",
        "operationId": "Order_ESignOrder",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orderID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Order was E-Signed",
            "schema": {
              "type": "boolean"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/orders/deleted": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Get a list of deleted orders",
        "operationId": "Order_GetDeleted",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "A list of deleted orders",
            "schema": {
              "$ref": "#/definitions/PageResult_Order"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/parties/{partyID}": {
      "get": {
        "tags": [
          "Party"
        ],
        "summary": "Get a party specified by the partyID",
        "operationId": "Party_GetParty",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "partyID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "A party specified by the partyID",
            "schema": {
              "$ref": "#/definitions/Party"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      },
      "patch": {
        "tags": [
          "Party"
        ],
        "summary": "Patch Party Properties. NavigationProperties are not supported.",
        "operationId": "Party_PatchParties",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "partyID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "delta",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Properties were updated"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/parties": {
      "get": {
        "tags": [
          "Party"
        ],
        "summary": "Get a list of customers or suppliers",
        "operationId": "Party_GetParties",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fullTextSearch",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of parties",
            "schema": {
              "$ref": "#/definitions/PageResult_Party"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      },
      "post": {
        "tags": [
          "Party"
        ],
        "summary": "Create a new party or update an existing one",
        "operationId": "Party_PostParty",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "party",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Party"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Party was created/updated",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/peppol/participants": {
      "post": {
        "tags": [
          "Peppol"
        ],
        "summary": "Create a new Peppol registration for a specific company",
        "operationId": "Peppol_PostParticipant",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "registerRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterParticipantRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company was registered on Peppol"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      },
      "delete": {
        "tags": [
          "Peppol"
        ],
        "summary": "Delete a Peppol registration for a specific company",
        "operationId": "Peppol_DeleteParticipant",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "registerRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteParticipantRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Peppol registration was deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/peppol/inbox": {
      "get": {
        "tags": [
          "Peppol"
        ],
        "summary": "Lists the first 10 peppol items in the inbox. Use the file api to download the actual message. Use the confirm or refuse endpoint to remove it from the queue",
        "operationId": "Peppol_GetInbox",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ReceiverCompanyID",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An inbox result with a list of the first 10 items in the inbox",
            "schema": {
              "$ref": "#/definitions/InboxGetResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/peppol/inbox/{inboxItemId}/confirm": {
      "post": {
        "tags": [
          "Peppol"
        ],
        "summary": "Confirm an inbox item and remove it from the queue",
        "operationId": "Peppol_InboxItemConfirm",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "inboxItemId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Inbox item was confirmed and removed from the queue"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/peppol/inbox/{inboxItemId}/refuse": {
      "post": {
        "tags": [
          "Peppol"
        ],
        "summary": "Refuse an inbox item and remove it from the queue",
        "operationId": "Peppol_InboxItemRefuse",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "inboxItemId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RefusePeppolItemRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Inbox item was refused and removed from the queue"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/peppol/sendOrder": {
      "post": {
        "tags": [
          "Peppol"
        ],
        "summary": "Send a direct Peppol message. Compatible with receivers that support Invoice5, Creditnote5, BisV3 Invoice or BisV3 Creditnote",
        "operationId": "Peppol_PostSendOrder",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Order"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice was sent via Peppol",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/peppol/participantInformation/{VATorCBE}": {
      "get": {
        "tags": [
          "Peppol"
        ],
        "summary": "Get Peppol participant information. API key is not required",
        "operationId": "Peppol_GetParticipantInformation",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "VATorCBE",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "OnlyCheckDNS",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Participant information",
            "schema": {
              "$ref": "#/definitions/ParticipantInformationResponse"
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/products/{productID}": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Get a specific product",
        "operationId": "Product_GetProduct",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "productID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "A product specified by the productID",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/products": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Get a list of products",
        "operationId": "Product_GetProducts",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "A list of products",
            "schema": {
              "$ref": "#/definitions/PageResult_Product"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      },
      "post": {
        "tags": [
          "Product"
        ],
        "summary": "Create a new product or update an existing one",
        "operationId": "Product_PostProduct",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "product",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product was created/updated",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/reports": {
      "get": {
        "tags": [
          "Report"
        ],
        "summary": "Get a list of available reports for the current user",
        "operationId": "Report_ReportListGet",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "A list of reports",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ReportsExportOverViewModel"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/reports/{reportID}": {
      "get": {
        "tags": [
          "Report"
        ],
        "summary": "Get the result and name of the report specified by the reportID",
        "operationId": "Report_ReportDetailGet",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "reportID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Result and name of a report",
            "schema": {
              "$ref": "#/definitions/ReportDetailModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/toProcess": {
      "post": {
        "tags": [
          "ToProcess"
        ],
        "summary": "Save a new document to process",
        "operationId": "ToProcess_PostToProcess",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "toProcess",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ToProcessSaveRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An upload ID",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/toProcess/{uploadID}": {
      "delete": {
        "tags": [
          "ToProcess"
        ],
        "summary": "Delete a document to process",
        "operationId": "ToProcess_DeleteToProcess",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uploadID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Document was deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/webhooks": {
      "get": {
        "tags": [
          "Webhook"
        ],
        "summary": "Get all webhooks",
        "operationId": "Webhook_GetWebhooks",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "A list of webhooks",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Webhook"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Webhook"
        ],
        "summary": "Create a webhook",
        "description": "Sample request:\r\n            \r\n    POST /v1/webhooks\r\n    {\r\n       \"EntityType\": \"Order\",\r\n       \"WebhookURL\": \"https://my.Webhook.url.com/Callback\"\r\n    }",
        "operationId": "Webhook_PostWebhook",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "webhook",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Webhook"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook was created",
            "schema": {
              "$ref": "#/definitions/Webhook"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/webhooks/{webhookID}": {
      "delete": {
        "tags": [
          "Webhook"
        ],
        "summary": "Delete a webhook",
        "operationId": "Webhook_DeleteWebhooks",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "webhookID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook was deleted",
            "schema": {
              "type": "boolean"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/webhooks/refresh/{webhookID}": {
      "post": {
        "tags": [
          "Webhook"
        ],
        "summary": "Refresh a webhook secret",
        "operationId": "Webhook_RefreshWebhookSecret",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "webhookID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Refreshed webhook secret",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    }
  },
  "definitions": {
    "AccountInformation": {
      "type": "object",
      "properties": {
        "Email": {
          "type": "string"
        },
        "Companies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountInformationParty"
          }
        },
        "UserCompanyRoles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserCompanyRole"
          }
        },
        "ExternalProviderID": {
          "type": "string"
        },
        "ExternalProviderTC": {
          "type": "string"
        },
        "FirstName": {
          "type": "string"
        },
        "LastName": {
          "type": "string"
        },
        "LoginOrRegisterNeeded": {
          "type": "boolean"
        },
        "NationalIdentityNumber": {
          "type": "string"
        },
        "CardNumber": {
          "type": "string"
        },
        "PhoneNumber": {
          "type": "string"
        },
        "UniqueReference": {
          "type": "string"
        }
      }
    },
    "AccountInformationParty": {
      "type": "object",
      "properties": {
        "TabNameAlias": {
          "type": "string"
        },
        "APIAllowed": {
          "type": "boolean"
        },
        "LogoFileID": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "APIEnabledFeatures": {
          "$ref": "#/definitions/APIEnabledFeatures"
        },
        "UserLanguage": {
          "type": "string"
        },
        "PartyID": {
          "format": "int32",
          "type": "integer"
        },
        "BookYearStart": {
          "format": "date-time",
          "type": "string"
        },
        "Nr": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "CommercialName": {
          "type": "string"
        },
        "Addresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PartyAddress"
          }
        },
        "Street": {
          "type": "string"
        },
        "StreetNumber": {
          "type": "string"
        },
        "Box": {
          "type": "string"
        },
        "Zipcode": {
          "type": "string"
        },
        "CostCategoryCode": {
          "format": "int32",
          "type": "integer"
        },
        "AccountingCostTypeName": {
          "type": "string"
        },
        "City": {
          "type": "string"
        },
        "CountryCode": {
          "type": "string"
        },
        "IBAN": {
          "type": "string"
        },
        "BIC": {
          "type": "string"
        },
        "Mobile": {
          "type": "string"
        },
        "Phone": {
          "type": "string"
        },
        "Fax": {
          "type": "string"
        },
        "Email": {
          "type": "string"
        },
        "Website": {
          "type": "string"
        },
        "Contact": {
          "type": "string"
        },
        "ContactFirstName": {
          "type": "string"
        },
        "ContactLastName": {
          "type": "string"
        },
        "VATNumber": {
          "type": "string"
        },
        "PeppolIdentifier": {
          "type": "string"
        },
        "RPR": {
          "type": "string"
        },
        "LastModified": {
          "format": "date-time",
          "type": "string"
        },
        "Created": {
          "format": "date-time",
          "type": "string"
        },
        "PartyType": {
          "enum": [
            "Customer",
            "Supplier"
          ],
          "type": "string"
        },
        "VATLiable": {
          "type": "boolean"
        },
        "AccountantCode": {
          "format": "int32",
          "type": "integer"
        },
        "GLAccountCode": {
          "format": "int64",
          "type": "integer"
        },
        "Language": {
          "type": "string"
        },
        "VentilationCode": {
          "type": "string"
        },
        "ExternalProviderID": {
          "type": "string"
        },
        "ExternalProviderTC": {
          "type": "string"
        },
        "CustomFields": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MutableKeyValuePair_StringString"
          }
        },
        "BankAccounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BankAccount"
          }
        },
        "Users": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserCoreInfo"
          }
        },
        "DefaultPaymentMethodTC": {
          "type": "string"
        },
        "DomiciliationMandateID": {
          "type": "string"
        },
        "DomiciliationMandateSigningDate": {
          "format": "date-time",
          "type": "string"
        },
        "DefaultPaid": {
          "type": "boolean"
        },
        "DisplayName": {
          "type": "string"
        },
        "DefaultTransportTypeTC": {
          "type": "string"
        },
        "FinancialReductionPercentageDefault": {
          "format": "double",
          "type": "number"
        },
        "FinancialReductionDaysDefault": {
          "format": "int32",
          "type": "integer"
        },
        "DefaultExpiryOffset": {
          "format": "int32",
          "type": "integer"
        },
        "GLDefaultExpiryOffset": {
          "format": "int64",
          "type": "integer"
        },
        "Role": {
          "type": "string"
        },
        "InternalInfo": {
          "type": "string"
        },
        "VATDeductable": {
          "type": "boolean"
        },
        "DefaultReductionPercentage": {
          "format": "double",
          "type": "number"
        },
        "Identifiers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PartyIdentifier"
          }
        },
        "BookCategoryTC": {
          "type": "string"
        },
        "SmallEnterprise": {
          "type": "boolean"
        },
        "AutoSendInvoiceReminders": {
          "type": "boolean"
        },
        "DefaultCurrencyTC": {
          "type": "string"
        },
        "Regime": {
          "type": "string"
        },
        "SubRegime": {
          "type": "string"
        },
        "IsHighRisk": {
          "type": "boolean"
        },
        "SendUBL": {
          "type": "boolean"
        },
        "SendPDF": {
          "type": "boolean"
        }
      }
    },
    "UserCompanyRole": {
      "type": "object",
      "properties": {
        "PartyID": {
          "format": "int32",
          "type": "integer"
        },
        "UserRoleTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "APIEnabledFeatures": {
      "type": "object",
      "properties": {
        "TimeRegistration": {
          "type": "boolean"
        },
        "Projects": {
          "type": "boolean"
        },
        "DailyReceipts": {
          "type": "boolean"
        },
        "FinancialReduction": {
          "type": "boolean"
        },
        "GLAccounts": {
          "type": "boolean"
        },
        "Cashbook": {
          "type": "boolean"
        }
      }
    },
    "PartyAddress": {
      "type": "object",
      "properties": {
        "AddressType": {
          "type": "string"
        },
        "Tav": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Street": {
          "type": "string"
        },
        "StreetNumber": {
          "type": "string"
        },
        "Box": {
          "type": "string"
        },
        "Zipcode": {
          "type": "string"
        },
        "City": {
          "type": "string"
        },
        "CountryCode": {
          "type": "string"
        },
        "Phone": {
          "type": "string"
        }
      }
    },
    "MutableKeyValuePair_StringString": {
      "type": "object",
      "properties": {
        "Key": {
          "type": "string"
        },
        "Value": {
          "type": "string"
        }
      }
    },
    "BankAccount": {
      "type": "object",
      "properties": {
        "IBAN": {
          "type": "string"
        },
        "BIC": {
          "type": "string"
        },
        "Currency": {
          "type": "string"
        },
        "Verified": {
          "type": "boolean"
        },
        "Name": {
          "type": "string"
        },
        "Saldo": {
          "format": "double",
          "type": "number"
        },
        "ExternalProviderID": {
          "type": "string"
        },
        "LogoFileID": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "LogoFileUrl": {
          "type": "string"
        },
        "CountryCode": {
          "type": "string"
        },
        "BankAccountName": {
          "type": "string"
        },
        "BankProviderStatus": {
          "type": "string"
        },
        "AccountIdentification": {
          "type": "string"
        },
        "Active": {
          "type": "boolean"
        }
      }
    },
    "UserCoreInfo": {
      "type": "object",
      "properties": {
        "FirstName": {
          "type": "string"
        },
        "LastName": {
          "type": "string"
        },
        "Role": {
          "type": "string"
        },
        "ExternalProviderID": {
          "type": "string"
        },
        "Email": {
          "type": "string"
        }
      }
    },
    "PartyIdentifier": {
      "type": "object",
      "properties": {
        "IdentifierType": {
          "type": "string"
        },
        "Identifier": {
          "type": "string"
        },
        "SchemeID": {
          "type": "string"
        },
        "Preferred": {
          "type": "boolean"
        }
      }
    },
    "SequenceRequest": {
      "type": "object",
      "properties": {
        "SequenceType": {
          "type": "string"
        },
        "Consume": {
          "type": "boolean"
        }
      }
    },
    "RegisterAccountRequestModel": {
      "type": "object",
      "properties": {
        "Company": {
          "$ref": "#/definitions/Party"
        },
        "AccountSettings": {
          "$ref": "#/definitions/AccountSettings"
        },
        "License": {
          "$ref": "#/definitions/LicenseConfiguration"
        }
      }
    },
    "Party": {
      "type": "object",
      "properties": {
        "PartyID": {
          "format": "int32",
          "type": "integer"
        },
        "BookYearStart": {
          "format": "date-time",
          "type": "string"
        },
        "Nr": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "CommercialName": {
          "type": "string"
        },
        "Addresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PartyAddress"
          }
        },
        "Street": {
          "type": "string"
        },
        "StreetNumber": {
          "type": "string"
        },
        "Box": {
          "type": "string"
        },
        "Zipcode": {
          "type": "string"
        },
        "CostCategoryCode": {
          "format": "int32",
          "type": "integer"
        },
        "AccountingCostTypeName": {
          "type": "string"
        },
        "City": {
          "type": "string"
        },
        "CountryCode": {
          "type": "string"
        },
        "IBAN": {
          "type": "string"
        },
        "BIC": {
          "type": "string"
        },
        "Mobile": {
          "type": "string"
        },
        "Phone": {
          "type": "string"
        },
        "Fax": {
          "type": "string"
        },
        "Email": {
          "type": "string"
        },
        "Website": {
          "type": "string"
        },
        "Contact": {
          "type": "string"
        },
        "ContactFirstName": {
          "type": "string"
        },
        "ContactLastName": {
          "type": "string"
        },
        "VATNumber": {
          "type": "string"
        },
        "PeppolIdentifier": {
          "type": "string"
        },
        "RPR": {
          "type": "string"
        },
        "LastModified": {
          "format": "date-time",
          "type": "string"
        },
        "Created": {
          "format": "date-time",
          "type": "string"
        },
        "PartyType": {
          "enum": [
            "Customer",
            "Supplier"
          ],
          "type": "string"
        },
        "VATLiable": {
          "type": "boolean"
        },
        "AccountantCode": {
          "format": "int32",
          "type": "integer"
        },
        "GLAccountCode": {
          "format": "int64",
          "type": "integer"
        },
        "Language": {
          "type": "string"
        },
        "VentilationCode": {
          "type": "string"
        },
        "ExternalProviderID": {
          "type": "string"
        },
        "ExternalProviderTC": {
          "type": "string"
        },
        "CustomFields": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MutableKeyValuePair_StringString"
          }
        },
        "BankAccounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BankAccount"
          }
        },
        "Users": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserCoreInfo"
          }
        },
        "DefaultPaymentMethodTC": {
          "type": "string"
        },
        "DomiciliationMandateID": {
          "type": "string"
        },
        "DomiciliationMandateSigningDate": {
          "format": "date-time",
          "type": "string"
        },
        "DefaultPaid": {
          "type": "boolean"
        },
        "DisplayName": {
          "type": "string"
        },
        "DefaultTransportTypeTC": {
          "type": "string"
        },
        "FinancialReductionPercentageDefault": {
          "format": "double",
          "type": "number"
        },
        "FinancialReductionDaysDefault": {
          "format": "int32",
          "type": "integer"
        },
        "DefaultExpiryOffset": {
          "format": "int32",
          "type": "integer"
        },
        "GLDefaultExpiryOffset": {
          "format": "int64",
          "type": "integer"
        },
        "Role": {
          "type": "string"
        },
        "InternalInfo": {
          "type": "string"
        },
        "VATDeductable": {
          "type": "boolean"
        },
        "DefaultReductionPercentage": {
          "format": "double",
          "type": "number"
        },
        "Identifiers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PartyIdentifier"
          }
        },
        "BookCategoryTC": {
          "type": "string"
        },
        "SmallEnterprise": {
          "type": "boolean"
        },
        "AutoSendInvoiceReminders": {
          "type": "boolean"
        },
        "DefaultCurrencyTC": {
          "type": "string"
        },
        "Regime": {
          "type": "string"
        },
        "SubRegime": {
          "type": "string"
        },
        "IsHighRisk": {
          "type": "boolean"
        },
        "SendUBL": {
          "type": "boolean"
        },
        "SendPDF": {
          "type": "boolean"
[...]
